@import "../index.scss";

img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.checkout-container {
  margin-left: 120px;
  margin-right: 120px;

  .header {
    font-size: 22px;
    font-weight: 500;
    margin-left: 70px;
  }
  .order-container {
    font-size: 20px;
    margin-left: 90px;

    .order {
      padding-left: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dedede;

      .test {
        margin-top: 5px;
      }

      .name {
        margin-top: 5px;
        column-gap: 100px;
      }
      .address {
        margin-top: 5px;
        column-gap: 100px;
      }
      .tel {
        margin-top: 5px;
        column-gap: 100px;
      }
      .left {
        width: 80px;
      }
    }
    .product-container {
      padding-left: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dedede;
      font-size: 20px;

      .store-icon {
        color: $dark-green;
      }
      .shopName {
        margin-top: 10px;
        margin-left: 10px;
      }
      .product {
        margin-top: 15px;
        column-gap: 80px;

        .info {
          margin-top: 40px;
        }
      }
    }

    .payment-container {
      padding-left: 10px;
      padding-bottom: 10px;
      border-bottom: 1px solid #dedede;
      font-size: 20px;

      .add-card {
        margin-top: 10px;

        .button-add {
          background-color: #f1fbf7;
          width: 140px;
          color: $dark-green;
          border-radius: 10px;
          height: 30px;
          border: none;
          font-weight: 600;
          font-size: 12px;
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        }
      }

      .ship-method {
        margin-top: 10px;
      }

      .credit {
        margin-top: 10px;

        .inputEdit {
          width: 200px;
          border: none;
          border-bottom: solid 1px #dedede;
        }
      }

      .payment {
        width: 280px;
      }

      .promocode {
        margin-top: 10px;

        .inputEdit {
          width: 200px;
          border: none;
          border-bottom: solid 1px #dedede;
        }

        .use-promo-button {
          margin-left: 20px;
          background-color: #f1fbf7;
          width: 100px;
          color: $dark-green;
          border-radius: 10px;
          height: 30px;
          border: none;
          font-weight: 600;
          font-size: 12px;
          box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.2);
        }
      }
    }

    .conclude-container {
      padding-left: 10px;
      padding-bottom: 10px;
      font-size: 20px;

      .conclude {
        width: 240px;
      }
      .price {
      }
      .discount {
        margin-top: 10px;
      }
      .shipmentprice {
        margin-top: 10px;
      }
      .total {
        margin-top: 10px;
      }
    }

    .button-group {
      margin-top: 30px;
      padding-bottom: 40px;
      column-gap: 40px;
      justify-content: center;

      .button-green {
        width: 220px;
        background-color: #008c5b;
        color: white;
        border-radius: 10px;
        height: 40px;
        border: none;
        font-size: 18px;
      }

      .button-red {
        width: 180px;
        background-color: #d66969;
        color: white;
        border-radius: 10px;
        height: 40px;
        border: none;
        font-size: 18px;
      }
    }
  }
}

.add-creditcard-modal {
  .creditcard-header {
    margin-bottom: 10px;
    p {
      font-size: 20px;
      font-weight: 600;
    }
  }
  img {
    margin-top: 2px;
    max-width: 120px;
    max-height: 25px;
    width: auto;
    height: auto;
    margin-left: 10px;
  }

  .card-button {
    justify-content: center;
    column-gap: 20px;

    .button-green {
      width: 100px;
      background-color: #008c5b;
      color: white;
      border-radius: 10px;
      height: 35px;
      border: none;
    }

    .button-red {
      width: 100px;
      background-color: #d66969;
      color: white;
      border-radius: 10px;
      height: 35px;
      border: none;
    }
  }
}

.cancel-checkout-modal {
  .header {
    margin-bottom: 10px;
    .alert-icon {
      color: $yellow;
      margin-top: 5px;
    }
    p {
      margin-left: 5px;
      font-size: 16px;
      font-weight: 500;
    }
  }
  .button-group {
    justify-content: center;
    column-gap: 20px;
  }

  .button-yes {
    width: 80px;
    background-color: #008c5b;
    color: white;
    border-radius: 10px;
    height: 35px;
    border: none;
  }

  .button-no {
    width: 80px;
    background-color: $button-red;
    color: white;
    border-radius: 10px;
    height: 35px;
    border: none;
  }
}

.QR-payment-modal {
  .header {
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
  }
  img {
    align-self: center;
  }
  .button-group {
    justify-content: center;
    column-gap: 20px;
    margin-top: 30px;
  }

  .button-green {
    width: 100px;
    background-color: #008c5b;
    color: white;
    border-radius: 10px;
    height: 35px;
    border: none;
  }

  .button-red {
    width: 100px;
    background-color: $button-red;
    color: white;
    border-radius: 10px;
    height: 35px;
    border: none;
  }
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  border: none;
  border-bottom: 1px solid #dedede;
}

@media screen and (max-width: 1070px) {
  .checkout-container {
    margin-left: 100px;
    margin-right: 100px;
    .header {
      margin-left: 30px;
    }
    .order-container {
      margin-left: 50px;
      .order {
        .test {
          margin-top: 5px;
        }

        .name {
          margin-top: 5px;
          column-gap: 80px;
        }
        .address {
          margin-top: 5px;
          column-gap: 80px;
        }
        .tel {
          margin-top: 5px;
          column-gap: 80px;
        }
        .left {
          width: 80px;
        }
      }
    }
  }
}

@media screen and (max-width: 984px) {
  .checkout-container {
    margin-left: 80px;
    margin-right: 80px;
    .header {
      margin-left: 20px;
    }
    .order-container {
      margin-left: 40px;
    }
  }
}

@media screen and (max-width: 920px) {
  img {
    width: 150px;
    height: 150px;
    border-radius: 20px;
  }
  .checkout-container {
    .header {
      font-size: 18px;
    }
    .order-container {
      font-size: 16px;
      .order {
        .test {
          margin-top: 5px;
        }

        .name {
          margin-top: 5px;
          column-gap: 50px;
        }
        .address {
          margin-top: 5px;
          column-gap: 50px;
        }
        .tel {
          margin-top: 5px;
          column-gap: 50px;
        }
        .left {
          width: 80px;
        }
      }
      .product-container {
        font-size: 16px;
      }
      .payment-container {
        font-size: 16px;

        .add-card {
          .button-add {
            width: 110px;
            font-size: 10px;
          }
        }

        .payment {
          width: 200px;
        }

        .promocode {
          .use-promo-button {
            width: 80px;
            font-size: 10px;
            height: 30px;
          }
        }
      }
      .conclude-container {
        font-size: 16px;
        .conclude {
          width: 200px;
        }
      }

      .button-group {
        column-gap: 30px;

        .button-green {
          width: 180px;
          height: 35px;
          font-size: 14px;
        }

        .button-red {
          width: 140px;
          height: 35px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 710px) {
  .checkout-container {
    .order-container {
      .payment-container {
        .promocode {
          .use-promo-button {
            margin-top: 5px;
            margin-left: 200px;
            width: 80px;
            font-size: 10px;
            height: 30px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 609px) {
  .checkout-container {
    margin-left: 50px;
    margin-right: 50px;
    .order-container {
      .product-container {
        font-size: 16px;
        .product {
          .info {
            margin-top: 25px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 575px) {
  .add-creditcard-modal {
    .creditcard-header {
      p {
        font-size: 15px;
      }
    }
    img {
      margin-top: 1px;
      max-width: 100px;
      max-height: 20px;
    }
  }
}

@media screen and (max-width: 549px) {
  .checkout-container {
    margin-left: 5px;
    margin-right: 5px;
    width: 90vw;
  }
}

@media screen and (max-width: 499px) {
  img {
    width: 130px;
    height: 130px;
    border-radius: 20px;
  }
  .checkout-container {
    .order-container {
      .payment-container {
        .add-card {
          .button-add {
            margin-left: 220px;
            margin-top: -40px;
          }
        }

        .promocode {
          .use-promo-button {
            margin-left: 20px;
          }
        }
      }

      .button-group {
        column-gap: 30px;

        .button-green {
          width: 180px;
          height: 35px;
          font-size: 14px;
        }

        .button-red {
          width: 140px;
          height: 35px;
          font-size: 14px;
        }
      }
    }
  }
}
@media screen and (max-width: 455px) {
  .cancel-checkout-modal {
    .header {
      p {
        margin-top: -20px;
        margin-left: 20px;
      }
    }
  }
}

@media screen and (max-width: 433px) {
  .checkout-container {
    .order-container {
      .button-group {
        column-gap: 30px;

        .button-green {
          width: 180px;
          height: 35px;
          font-size: 14px;
          margin-bottom: 10px;
        }

        .button-red {
          width: 140px;
          height: 35px;
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 388px) {
  .checkout-container {
    .order-container {
      .payment-container {
        .add-card {
          .button-add {
            margin-left: 0px;
            margin-top: 0px;
          }
        }

        .promocode {
          .use-promo-button {
            margin-left: 0px;
            margin-top: 10px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 379px) {
  img {
    width: 150px;
    height: 150px;
  }
  .checkout-container {
    .order-container {
      .product-container {
        .product {
          justify-content: center;
        }
      }
    }
  }
}
@media screen and (max-width: 341px) {
  .checkout-container {
    .order-container {
      .conclude-container {
        .conclude {
          width: 160px;
        }
      }
    }
  }
}
