@import "../index.scss";

.cart-container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding: 20px;
    h2 {
        color: $dark-green;
    }
    .item-list {
        padding: 0 20px;
    }
    .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        .icon {
            flex: 0 0 0;
        }
        .ant-btn {
            height: auto;
            width: auto;
            border: none;
            background-color: $button-red;
            border-radius: 5px;
            color: white;
            font-size: 20px;
        }
        .product-detail {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            .img {
                padding: 5px;
                width: 30%;
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
            .desc {
                width: 70%;
                .ant-btn {
                    height: 35px;
                    width: 35px;
                    border: none;
                    background-color: #f1fbf7;
                    border-radius: 5px;
                    color: #4d7951;
                    font-size: 16px;
                    padding: 0;
                    margin: 0 10px;
                }
            }

        }
        > div {
            padding: 4px;
        }
        @media screen and(max-width: 425px) {
            .product-detail {
                .img {
                    width: 40%;
                }
                .desc {
                    width: 60%;
                    font-size: 80%;

                    .ant-btn {
                        display: inline;
                        width: 30px;
                        height: 30px;
                    }
                }
            }
            .ant-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 30px;
                height: 30px;
                font-size: 18px;
            }
        }
        @media screen and(max-width: 320px) {
            .product-detail {
                .img {
                    width: 35%;
                }
                .desc {
                    width: 65%;
                    font-size: 80%;

                    .ant-btn {
                        display: inline;
                        width: 25px;
                        height: 25px;
                    }
                }
            }
            .ant-btn {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 25px;
                height: 25px;
                font-size: 16px;
            }
            > div {
                padding: 0;
            }
        }
    }
    .summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        padding: 0 20px;
        h1,
        h2 {
            color: $dark-green;
        }
    }

    .ant-btn {
        color: white;
        background-color: $green;
        width: 130px;
        height: 40px;
        border-radius: 8px;
        &.red-btn {
            background-color: $red;
        }
    }

    .ant-checkbox-checked .ant-checkbox-inner {
        border-color: #52c41a;
        background-color: #52c41a;
    }

    @media screen and(max-width: 425px) {
        .item-list {
            padding: 0;
        }
    }
}
