@import '../index.scss';

.profile-page-container {
    background-image: url("../img/main-veg.jpg");
}

.profile-container {
    margin-top: 220px ;
    justify-content: center;
    column-gap: 50px;

    background-color: white;
}

.profile-container img {
    margin-top: -80px;
    max-width: 300px;
    max-height: 300px;
    width: auto;
    height: auto;
    border-radius: 50%;
}

.profile-title .full-name {
    font-weight: bold;
    font-size: 45px;
    color: $green;
}

.profile-title .role {
    font-weight: 500;
    font-size: 23px;
    color: $green;
}

.info-container {
    margin-top: 10px;
    column-gap: 10%;

    font-weight: 500;
    font-size: 23px;
}

.ant-btn {
    background-color: $green;
    border-radius: 10px;
    height: 80px;
    border: none;

    font-weight: 600;
    font-size: 25px;
    color: white;
}