@import '../index.scss';

.edit-container {
    padding-bottom: 20px;
    .text-title {
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        margin-top: 10px;
    }
    .form-container {
        width: 70%;
        max-width: 400px;
        margin: 20px auto;
    }
    .ant-form-item {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 8px;
    }
    .ant-form-item-control {
        width: 100%;
    }
    .ant-form-item-label {
        padding: 0;
    }
    .ant-input {
        border: none;
        border-bottom: 1px solid #aaaaaa;
    }
    .ant-btn {
        color: white;
        background-color: $green;
        width: 130px;
        height: 40px;
        border-radius: 8px;
        &.red-btn {
            background-color: $red;
        }
    }

    .btn-section {
        text-align: center;
    }
    @media screen and(min-width: 375px) {
        .text-title {
            font-size: 22px;
            margin-top: 14px;
        }

    }
    @media screen and(min-width: 768px) {
        .text-title {
            font-size: 24px;
            margin-top: 18px;
        }

    }
    @media screen and(min-width: 1024px) {
        .text-title {
            font-size: 26px;
            margin-top: 20px;
        }

    }
}
.ant-btn {
    &.gray-btn {
        color: white;
        background-color: #aaaaaa;
        width: 130px;
        height: 40px;
        border-radius: 8px;
        border: none;
        &:hover {
            color: white;
            background-color: #c7c5c5;
            width: 130px;
            height: 40px;
        }
    }

    &.red-btn {
        color: white;
        background-color: $red;
        width: 130px;
        height: 40px;
        border-radius: 8px;
        border: none;
        &:hover {
            color: white;
            background-color: #ff0000;
            width: 130px;
            height: 40px;
        }
    }
    &.green-btn {
        color: white;
        background-color: $green;
        width: 130px;
        height: 40px;
        border-radius: 8px;
        border: none;
        &:hover {
            color: white;
            background-color: rgb(127, 236, 127);
            width: 130px;
            height: 40px;
        }
    }

}
.text-alert {
    font-size: 18px;
}
.ant-modal-content {
    border-radius: 8px;
}
