@import "../index.scss";

img {
  width: 240px;
  height: 240px;
  border-radius: 20px;
}

.shop-container {
  background-image: url("../img/main-veg.jpg");
  width: 100vw;
  justify-content: center;

  .empty-box {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 36px;
    font-weight: 700;
    height: 220px;
  }
  .container {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .shop-page {
    padding-top: 20px;
    width: 80vw;
    align-self: center;

    .head {
      .button-content {
        width: 100%;
        justify-content: space-between;
      }
      .score-text {
        align-self: center;
        font-size: 20px;
        color: $yellow;
      }
      .star-group {
        align-self: center;
        font-size: 20px;
        color: $yellow;
      }
      .name {
        font-size: 40px;
        color: $green;
        justify-content: center;
      }
      .button-group {
        align-items: center;
        column-gap: 20px;
        .button-green {
          justify-content: center;
          width: 150px;
          background-color: #008c5b;
          color: white;
          border-radius: 10px;
          height: 40px;
          border: none;
        }
      }
      .button-green {
        align-self: center;
        justify-content: center;
        width: 120px;
        background-color: #008c5b;
        color: white;
        border-radius: 10px;
        height: 40px;
        border: none;
      }
    }

    .product {
      align-items: center;
      .name {
        margin-top: 5px;
        font-size: 16px;
        color: black;
        margin-bottom: 15px;
      }
    }

    .best-seller-grid {
      .header {
        font-size: 20px;
        justify-content: space-between;
        .see-more {
          font-size: 16px;
          color: $dark-green;
        }
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
        grid-template-rows: auto;
        column-gap: 25px;
        justify-content: center;
      }
    }

    .new-arrivals-grid {
      .header {
        font-size: 20px;
        justify-content: space-between;
        .see-more {
          font-size: 16px;
          color: $dark-green;
        }
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
        grid-template-rows: auto;
        column-gap: 25px;
        justify-content: center;
      }
    }

    .all-products-grid {
      .header {
        font-size: 20px;
        justify-content: space-between;
      }
      .type {
        font-size: 18px;
        margin-left: 10px;
        color: $green;
      }
      .grid-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(100px, 250px));
        grid-template-rows: auto;
        column-gap: 25px;
        row-gap: 25px;
        justify-content: center;
      }
    }
  }
  .contact-container {
    background-color: $green;
    width: 100vw;
    min-height: 70px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    row-gap: -20px;
    justify-content: center;
    .contact {
      width: 80vw;
      align-self: center;
      column-gap: 100px;
    }
    .social {
      width: 80vw;
      align-self: center;
      column-gap: 60px;
    }
  }
}

@media screen and (max-width: 769px) {
  .shop-container .contact-container {
    font-size: 14px;
  }
}

@media screen and (max-width: 426px) {
  .shop-container .contact-container {
    .contact {
      column-gap: 0px;
    }
    .social {
      column-gap: 30px;
    }
  }
}

@media screen and (max-width: 424px) {
  .shop-container .shop-page .head .button-content .name {
    order: -1;
  }
}
