@import '../index.scss';

.resetpass-container {

    .bg-login {
        position: relative;
        // height: 100vh;
        height: 375px;
        width: 100vw;
        display: block;
        &::after {
            position: absolute;
            background-image: url("../img/main-veg.jpg");
            background-attachment: fixed;
            background-position: center center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0.8;
            z-index: -1;
            content: "";
        }
    }
    .space-white {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;
        background-color: white;
        height: 100vh;
        // height: 100%;
        width: 100vw;
    }
    .ant-form-item {
        width: 280px;
        color: $dark-green;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .box-text {
        width: 280px;
        text-align: left;
        font-size: 16px;
    }
    .ant-btn {
        width: 280px;
        background-color: $green;
        color: white;
        border-radius: 10px;
        height: 45px;
        border: none;
    }
    .space-none {
        height: 375px;
    }

    @media screen and(min-width: 1025px) {
        .bg-login {
            height: 100vh;
        }
        .space-white {
            width: 50vw;
        }
        .space-none {
            height: 0;
        }
        .input,
        .ant-form-item,
        .ant-btn,
        .box-text {
            width: 320px;
        }
        .text-big {
            font-size: 60px
        }
        .box-text {
            font-size: 20px
        }
    };
}
