@import 'antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

$green: #5DB075;
$drak-green: #4E7852;

$gray: #979797;

body {
    margin: 0;
    // font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    // 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    // sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $drak-green;
    font-family: 'Poppins', sans-serif;
}
.input {
    width: 280px;
    border: none;
    border-bottom: solid 1px #AAAAAA;
}
.input-small {
    width: 250px;
    border: none;
    border-bottom: solid 1px #AAAAAA;
}
.flex-row {
    display: flex;
    flex-flow: row wrap;
}
.flex-col {
    display: flex;
    flex-flow: column wrap;
}
.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.flex-center {
    align-items: center;
    justify-content: center;
}

.p-y-24 {
    padding: 24px 0;
}
.m-b-10 {
    margin-bottom: 10px;
}
.m-b-16 {
    margin-bottom: 16px;
}
.m-y-10 {
    margin: 10px 0;
}
.m-y-16 {
    margin: 16px 0;
}
.m-y-20 {
    margin: 20px 0;
}
.m-y-24 {
    margin: 24px 0;
}
.m-t-10 {
    margin-top: 10px;
}
.m-t-16 {
    margin-top: 16px;
}
.m-t-20 {
    margin-top: 20px;
}
.m-t-24 {
    margin-top: 24px;
}
.m-t-30 {
    margin-top: 30px;
}
.m-r-10 {
    margin-right: 10px;
}
.text-big {
    font-size: 50px;
}
.semi-bold {
    font-weight: 500;
}

.ant-input {
    &:hover {
        border-color: $green;
    }
    &:focus {
        border-color: $green;
        box-shadow: 0 0 2px 1px $green;
    }
}
.ant-input-affix-wrapper {
    &:hover {
        border-color: $green;
    }
    &:focus {
        border-color: $green;
        box-shadow: 0 0 2px 1px $green;
    }
}
